<?xml version="1.0"?>
<car xmlns:xacro="http://www.ros.org/wiki/xacro" name="car">
    <!-- 42, 22, 16 -->

    <xacro:include filename="color.urdf.xacro" />

    <link name="world"></link>

    <joint name="chassis_joint" type="fixed">
        <origin xyz="1.5 1 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="chassis_link" />
    </joint>

    <link name="chassis_link">
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0" />
            <geometry>
                <box size="42 22 16" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 1" rpy="0 0 0" />
            <geometry>
                <box size="42 22 16" />
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0" />
            <mass value="8" />
            <inertia ixx="261.33" ixy="0" ixz="0" iyy="792.67" iyz="0" izz="554.67" />
        </inertial>

    </link>

    <!-- <joint name="front_left_wheel_joint" type="revolute">
        <parent link="chassis_link" />
        <origin xyz="0 0 0" rpy="0 0 0 " />
        <axis xyz="0 0 0" />
        <limit lower="0" upper="${pi/2}" velocity="100" effort="100" />
    </joint> -->

</car>