<?xml version="1.0"?>
<!-- 4 Wheel Robot with front steering and rear drive -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="carlikebot_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="car.urdf.xacro" />
  <xacro:include filename="car_ros2_control.xacro" />

  <xacro:include filename="lidar.urdf.xacro" />
  <xacro:include filename="imu.urdf.xacro" />
  <!-- <xacro:include filename="camera.urdf.xacro" /> -->

  <xacro:carlikebot prefix="$(arg prefix)" />

  <xacro:carlikebot_ros2_control name="CarlikeBot" prefix="$(arg prefix)" />

</robot>